<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emulator_ex_0_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Emulator_ex_0_.Properties.Settings>
            <setting name="TcpClientAddress" serializeAs="String">
                <value>192.168.101.68:10001</value>
            </setting>
            <setting name="TcpServerAddress" serializeAs="String">
                <value>192.168.0.179:10000</value>
            </setting>
        </Emulator_ex_0_.Properties.Settings>
    </userSettings>
</configuration>